.container {
  margin-top: 65px;}


li {
  list-style-type: none;}

.pin {
  max-width: 300px;
  display: inline-block;
  background: #FEFEFE;
  border: 2px solid #FAFAFA;
  box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
  margin: 0 2px 15px;
  -webkit-column-break-inside: avoid;
  -moz-column-break-inside: avoid;
  column-break-inside: avoid;
  padding: 0px;
  padding-bottom: 5px;
  background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
  opacity: 1;

  -webkit-transition: all .2s ease;
  -moz-transition: all .2s ease;
  -o-transition: all .2s ease;
  transition: all .2s ease;
}

.pin img {
  width: 100%;
  border-bottom: 0px solid black;
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.pin p {
  font: 12px/18px Arial, sans-serif;
  color: #333;
  margin: 0;
  padding: 15px;
}

.pin h3 {
  font: Arial, sans-serif;
  margin: 0;
  padding: 15px;
}

#plus {
  background-image: url('plus.ico');
  height: 31px;
  width: 20px;}

#plus:hover {
  background-image: url('plus.ico');
  height: 31px;
  width: 20px;}

.post img {
  max-width: 450px;
  border: 5px solid grey;
  border-radius: 8px;}

.post p {
  font-face: georgia;
  font-size: 14px;
}

.post {
  width: 60%;
}

.background {
  background-color: #FFF4FF;}

.navbar-default {
  background: -webkit-linear-gradient(left top, #FFFFFF , #E2E2E2); /* Safari*/
  background: -o-linear-gradient(bottom right, #FFFFFF, #E2E2E2); /* Opera*/
  background: -moz-linear-gradient(bottom right, #FFFFFF, #E2E2E2); /* Firefox*/
  background: linear-gradient(to bottom right, #FFFFFF , #E2E2E2);
}
